<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
      :root {
    --color-primary: #2b547e;
    --color-primary-light: #4863a0 ;
    --color-primary-dark: #0a423c;
    --color-white: #c5c5c5;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #131419;
    position: relative;
    padding-bottom: 58px;
    min-height: 100%;
  }

  
  
  
  main{
    width: 90%;
    margin: 16 auto;
    padding: 40px 20px;
  }
  ul li{
    color:#868686

  }

  .form{
    position: relative;
    top: 3%;
    width: 350px;
    padding: 40px 40px 60px;
    background: #131419;
    border-radius: 10px;
    text-align: center;
    box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
                5px 5px 15px rgba(0,0,0,0.5);
  }
  .form h2 {
    color: #c7c7c7;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  .form .input 
  {
    text-align: left;
    margin-top: 40px;
  }
  .form .input .inputBox {
    margin-top: 15px;
  }
  .form .input .inputBox label{
    display: block;
    color: #868686;
    margin-bottom: 5px;
    font-size: 18px;
  }
  .form .input .inputBox input {
    width: 100%;
    height: 40px;
    background: #131419;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 5px 15px;
    color: #fff;
    font-size: 18px;
    color: #03a9f4;
    box-shadow: inset -2px -2px 6px rgba(255,255,255,0.1),
                inset 2px 2px 6px rgba(0,0,0,0.8);


  }
  .form .input .inputBox input[type="submit"]{
    margin-top: 20px;
    box-shadow:  -2px -2px 6px rgba(255,255,255,0.1),
                 2px 2px 6px rgba(0,0,0,0.8);

  }
  .form .input .inputBox input[type="submit"]:active{
    color: #006c9c;
    margin-top: 20px;
    box-shadow: inset -2px -2px 6px rgba(255,255,255,0.1),
                inset 2px 2px 6px rgba(0,0,0,0.8);

  }
  .form .input .inputBox input::placeholder
  {
    color: #555;
    font-size: 18px;
  }
  .forget {
    margin-top: 20px;
    color: #555;
  }
  .forget a {
    color: #ff0047;
  }
  </style>
  <title>REGISTRATION</title>
</head>
<body>
<div class="form">
  
  <ul>
    <% if(typeof errors != 'undefined') { %> <% errors.forEach(error=>{ %>
    <li><%= error.message %></li>
    <% }) %> <% } %>
  </ul>
  
  <form action="/user/register" method="POST">
    <h2>REGISTRATION</h2>
    <div class="input">
        <div class="inputBox">
            <label>Name</label>
            <input type="text" name="name" id=""name placeholder="Enter Your Name" required>
        </div>
        <div class="inputBox">
            <label>Email</label>
            <input type="email" name="email" id="email" placeholder="Enter your Email address" required>
        </div>
        <div class="inputBox">
            <label>Password</label>
            <input type="password" name="password" id="password" placeholder="***********" required>
        </div>
        <div class="inputBox">
            <label>Confirm Password</label>
            <input type="password" name="password2" id="password2" placeholder="***********" required>
        </div>
        <div class="inputBox">
            <input type="submit" name="" value="Sign UP">
        </div>
    </div>
    <p class="forget">Already have account <a href="/user/login">Sign In</a></p>
  </form>
</div>
</body>
</html>